/****************************
         RESET 
****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************************
        UTILITIES 
***************************/

/* backgrounds */
.bg-blue{
    background-color: #0084FD;
}

.bg-sky{
    background-color: #B5DDFF;
}

.bg-violet{
    background-color:#9792E4 ;
}

.bg-white{
    background-color: white;
}

.bg-footer{
    background-color: #333333;
}

/* colors */
.white{
    color: white;
}

/* border */
.border{
    border: 1px solid black;
}


/* flex */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.a-items-center{
    align-items: center;
}


/* altezze */
.h-600{
    height: 600px;
}

.h-300{
    height: 300px;
}

.h-50{
    height: 50px;
}


/* visibility */
.desktop-only{
    display: none;
}


/****************************
         LAYOUT 
 ****************************/
.container{
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{

}

.content{

}

/* header  */
header col{
    width: 50%;
}

header .col .content{
    margin: 0 20px;
    align-items: center;
    display: flex;
}

header .desktop-only .content ul{
    display: flex;
    list-style-type: none;
}

header .desktop-only .content li{
    padding-left: 20px;
}

.jumbo{
    margin-bottom: 30px;
}


/* MAIN */

/* jumbo */
.jumbo .container{
    margin: 0 auto;
    width: 80%;
}

.jumbo .col{
    width: 100%;
}

.jumbo .content{
    border-radius: 40px;
    margin-top: 20px ;

}

/* planning */
.planning{
    padding: 30px;
}

.planning .container{
    width: 80%;
    margin: 0 auto;

}

.planning .col{
    width: 100%;
}

.planning .content{
    border-radius: 40px;
    margin: 10px 0;
}

/* testimonials */
.testimonials{
    padding: 30px;
}

.testimonials .container{
    width: 80%;
    margin: 0 auto;
}

.testimonials .col{
    width: 100%;
}

.testimonials .content{
    border-radius: 40px;
    margin: 10px 0;
}


/****************************
         RESPONSIVE 
 ****************************/

  /* tablet  */
@media screen and (min-width: 480px) {
    .container{ 
        max-width: 100%;
    }

    .jumbo .row{
        gap: 20px;
    }

    .jumbo .w-66 {
        width: calc(100% / 3 * 2 - 20px);
    }

    .jumbo .w-66 .content{
        height: 300px;
    }

    .jumbo .w-33 {
        width: calc(100% / 3 - 20px);
    }
}


 /* desktop  */
 @media screen and (min-width: 768px) {
    .container{
        max-width: 1200px;
    }

    .desktop-only{
        display: block;
    }

    .mobile-only{
        display: none;
    }

    .planning .col{
        width: 50%;
    }




 }